# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.2.0'
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^\.idea
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: mixed-line-ending
  - repo: https://github.com/doublify/pre-commit-rust
    rev: 'v1.0'
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '2.3.5'
    hooks:
      - id: editorconfig-checker
        types_or:
          - rust
          - toml
          - yaml
